body {
    margin: 0;
    padding: 0;
}

.opcionmenu {
    color: #000;
    background-color: #fff;
}

.opcionmenu:hover {
    color: #000000;
    background-color: #dfdede; 
}

.menu {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-collapse: collapse;
}

.menu td {
    padding: 0px 15px;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
}

.boton {
    color: #000;
    background-color: #c9ee9e;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

.boton:hover {
    background-color: #8aa36c;
}
