body {
    background-color: #393a39;
}

.googlemaps {
    border-radius: 20px; 
}

.tabla {
    margin: 50px;
    margin-left: 25%;
    border-radius: 20px;
    background-color: #dff8c3;
    padding: 15px;
}