body {
    background-color: #393a39;
}

.googlemaps {
    border-radius: 20px; 
}

.tabla {
    margin: 50px;
    margin-left: 25%;
    border-radius: 20px;
    background-color: #e1f8c6;
    padding: 15px;
}