body {
    background-color: #d3d3d3;

}

button {
    padding: 10px 100px;
    margin-top: 15%;
    margin-bottom: 5%;
    margin-left: 40%;
    cursor: pointer;
    border: none;
    background: #004272;
    color: white;
    border-radius: 5px;
}

.textoestructura {
    text-align: center;
    padding: 10px;
}

.negrita {
    font-style: bold;
}

.tablanormal {
    padding: 10px;
    margin-top: 0;
    margin-left: 20%;
    text-align: center;
    vertical-align: top;
}

.tablanormal td {
    margin-top: 0;
    text-align: center;

}
.tablaiconos {
    margin-left: 36%;
    border-radius: 15px;
    text-align: center;
}