body {
    font-family: Arial, sans-serif;
    background: #393a39;
    margin: 20px;
}

/* Encabezado */
.header {
    width: 100%;
    text-align: center;
    background: #e1f8c6;
    color: rgb(56, 56, 56)te;
    padding: 30px;
}

/* Banner */
.banner {
    width: 100%;
    margin: 20px 0;
}

.banner-img {
    width: 100%;
    border-radius: 10px;
}

/* Categorías */
.categorias {
    width: 100%;
    background: white;
    border-collapse: collapse;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.categorias th {
    background: #e1f8c6;
    color: rgb(56, 56, 56);
    padding: 12px;
    font-size: 20px;
}

.categorias td {
    vertical-align: top;
    padding: 20px;
    width: 25%;
}

.categorias h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.categorias a {
    display: block;
    margin-bottom: 6px;
    text-decoration: none;
}

.categorias a:hover {
    text-decoration: underline;
}

/* Artículos */
.articulos {
    width: 100%;
    margin-top: 40px;
    border-collapse: collapse;
}

.articulos th {
    background: #e1f8c6;
    color: rgb(56, 56, 56);
    padding: 12px;
    font-size: 22px;
}

.tarjeta {
    background: white;
    padding: 20px;
    vertical-align: top;
    text-align: center;
}

.art-img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.meta {
    font-size: 12px;
    color: #777;
}

.resumen {
    margin: 10px 0;
}

/* Botón */
button {
    padding: 10px 20px;
    background: #16a085;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #12836b;
}
